

body,html{
    margin: 0;
    margin: 0;
    height: 100%;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}
    
header{
    width: 100%;    
    height: auto;
    background-color: black;
    display: flex;      
    flex-direction: row;      
     
    position: sticky;    
    padding: 1.5rem;    
}
#btnHome, #btnMenu, #btnContact, #btnEffect{        
    width: 8rem;
    height: 3rem;    
    color: white;
    border: none;
    margin: auto;    
    background-color: black;
    border-bottom: 1px solid rgb(253, 253, 253);    
    border-top: 1px solid rgb(94, 89, 89);
}
 
 #btnHome:hover, #btnMenu:hover, #btnContact:hover, #btnEffect:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px 2px white;
    transform: translateY(5px);
    transition: all 0.1s ease;  
    font-weight: bold;
 }
.content{
    /*position: relative;*/
    /*margin-left: 250px;    */
    margin-left: 0;
    height: auto;
    background-color: rgb(248, 247, 247);    
    
}
.menuinicial{
    
}
.menuContenedor{
    text-align: center;
    padding :2rem;
    
}
.mensajes{
    padding: 0 2rem 1rem 2rem;
    text-align: justify;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url(./assets/images/pagoda.jfif);
    color: aliceblue;
    background-position: center center;
    background-size:contain;    
    background-color: rgb(243, 238, 238);
    
}
h1{
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.8rem;    
}

.divCuerpo{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);    
    background-color: rgb(218, 230, 207);
    padding: 1rem 0 1rem 0;

}
.cell img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin: 2rem 0 0 2rem;    
    box-shadow: 10px 0 5px 5px rgba(12, 12, 12, 0.2);
}
.cell p{
    text-align: center;    
    padding: 0;
    margin: 0;
}
.cell p:first-of-type{
    font-weight: bold;    
}
.foot{
    width: auto;
    /*margin-left: 250px;*/
    height: auto;
    text-align: center;
    color: aliceblue;
    background-color: rgb(0, 0, 0);    
}
.foot p{
margin: 0;
padding: 0.5rem;
}
.divTituloPie{
    display: flex;    
    justify-content: space-between;
    padding: 2rem;    
}
.alin{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: rgb(160, 156, 156);
}
.textPiePrinc{
    font-weight: bolder;
}
.textoPiePrinc:hover{
    cursor: pointer;
}
.class-dialog{
    border: 1px solid #0D6EFD;
    background-color: rgb(253, 250, 250);
}
.formu{
    display: flex;
    flex-direction: column;    
    gap:2rem;
    padding: 2rem;
}
.divTextForm, .secTextForm, .botones{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.botones button{
    background-color: #0D6EFD;
    width: 10rem;
    height: 3rem;
    color: aliceblue;
    padding: 1rem;
    margin: auto;
    border-radius: 10px;
}
.formu p{
    width: 4rem;
}
.formu input{
    width: 10rem;
    border-radius: 5px;
    padding: 0.2rem;
}